In [49]:
import pandas as pd

people = [['John', 12], ['Jim', ]]
# import numpy as np
# import matplotlib.pyplot as plt

# from numpy import array
# from numpy import argmax
# from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OneHotEncoder
# # define example
# data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
# values = array(data)
# print(values)
# # integer encode
# label_encoder = LabelEncoder()
# integer_encoded = label_encoder.fit_transform(values)
# print(integer_encoded)
# # binary encode
# onehot_encoder = OneHotEncoder(sparse=False)
# integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
# onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
# print(onehot_encoded)
# # invert first example
# inverted = label_encoder.inverse_transform([argmax(onehot_encoded[0, :])])
# print(inverted)

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

titles = ['Countess.', 'Col.', 'Ms.', 'Mr.']

data = [['Countess', 12], ['Col.', 3], ['Ms.', 34], ['Ms.', 54]]
df = pd.DataFrame(data, columns = ['Title', 'Maturity Level'])

ohe = OneHotEncoder(sparse=False)
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(df['Title'])
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
    onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)
# integer_encoded = label_encoder.fit_transform(values)
df = pd.concat([df,pd.get_dummies(df['Title'], prefix='Title')],axis=1)
df

[[0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 0. 1.]]

      Title  Maturity Level  Title_Col.  Title_Countess  Title_Ms.
0  Countess              12           0               1          0
1      Col.               3           1               0          0
2       Ms.              34           0               0          1
3       Ms.              54           0               0          1